<h1>Proszę potwierdzić swój email!</h1>

<p>
    Potwierdź swój adres email klikając w poniższy link: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź mój email</a>.
    Link ulegnie przedawnieniu w ciągu {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Dziękuje!
</p>
