<h1>Please confirm your email</h1>

<p>
    Confirm your email clicking link below: <br><br>
    <a href="{{ signedUrl|raw }}">I confirm this is my email address</a>.
    The link will expire within {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Thank you!
</p>
