{% extends 'base.html.twig' %}

{% block title %}
    Nasa API
{% endblock %}

{% block body %}
    <div class="mainContainer">
        <div class="contentWrapper">
            <h1>NASA API</h1>
            <h2>1. Page purpose</h2>
            <p>This site was created to make access to data from official <a href="https://api.nasa.gov/">NASA API</a> easier and unlimited.<br>
            I've chosen APIs that I found interesting and those which instantly sparked ideas in my mind on how to use and visualize them.
            If you want to use any other NASA API that is not included on my page let me know through email: nasaapi@nasaapi.pl, and I'll consider adding it.
            </p>
        </div>
    </div>
{% endblock %}