{% extends 'base.html.twig' %}

{% block title %}
    Nasa API
{% endblock %}

{% block body %}
    <div class="mainContainer">
        <div class="contentWrapper">
            <h1>NASA API</h1>
            <h2>1. Page purpose</h2>
            <p>This site was created to make access to data from the official <a href="https://api.nasa.gov/"
                                                                                 target="_blank">NASA API</a> easier and
                unlimited.<br>
                I've chosen APIs that I found interesting and those which instantly sparked ideas in my mind on how to
                use and visualize them.
                If you want to use any other NASA API that is not included on my page let me know through email: <b>nasaapi@nasaapi.pl</b>,
                and I'll consider adding it.
                <br>I bet it is easy to find out, but everything about space is just awesome for me and exploring
                it further makes me excited.
            </p>
            <h3>2. APIs</h3>
            <p>Documentation for API is available after you log in. </p>
            <span>Currently supported:</span>
            <ul>
                <li>MRP - Mars Rover Photos Collection of martian images gathered by Curiosity, Opportunity, Spirit and
                    Perseverance rovers.
                </li>
                <li>APOD - Astronomy Picture of the Day</li>
            </ul>
            <br>
            <h4>3. GITHUB</h4>
            <p>If you want to set up this project yourself feel free. It is available in public repository on my <a
                        target="_blank"
                        href="https://github.com/SebastianKurkowski1/symfonyNasaApi">GITHUB</a></p>
            <h5>4. Pages that use NasaAPI.pl</h5>
            <ul>
                <li>Nothing yet</li>
            </ul>
        </div>
    </div>
{% endblock %}