{% extends 'base.html.twig' %}

{% block body %}
    <div class="formContainer">
        <h1 class="formHeader">Logowanie</h1>
        <form action="{{ path('app_login') }}" method="post">
            {% include '/components/_input.html.twig' with {
                name: '_email',
                placeholder: 'Email',
                type: 'text'
            } %}

            {% include '/components/_input.html.twig' with {
                name: '_password',
                placeholder: 'Hasło',
                type: 'password'
            } %}

            {% include '/components/_button.html.twig'  with {
                text: 'Zaloguj się'
            } %}

            <a href="{{ path('app_register') }}">Rejestracja</a>
        </form>
    </div>
{% endblock %}

{% block title %}
    Logowanie
{% endblock %}

