{% extends 'base.html.twig' %}
{% block title %}404 Page not found - Nasa API{% endblock %}
{% block body %}
    <div class="errorEngraved"><span>error 404 <br> page not found</span></div>
{% endblock %}