<div class="navHeader">
    <a href="#" class="changeLanguageButton">
        <img src="{{ asset('build/images/united-kingdom-flag-icon.svg') }}" alt="britishFlag">
        <img src="{{ asset('build/images/flag-of-poland.svg') }}" alt="polishFlag">
    </a>
    <a href="{{ path('app_logout') }}" class="logoutButton">
        <img src="{{ asset('build/images/logout-svgrepo-com.svg') }}" alt="logoutButton">
    </a>
</div>