<div class="navHeader">
    <div class="navTitle">
        <a href="{{ path('app_homepage') }}">Nasa API</a>
    </div>
    <div class="navRightContainer">
        <a href="{{ path('app.swagger_ui') }}">Documentation</a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="logoutButton">
                <img src="{{ asset('build/images/logout-svgrepo-com.svg') }}" alt="logoutButton">
            </a>
        {% endif %}
    </div>
</div>